<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>imagXchange</title>
  <link rel="stylesheet" type="text/css" href="./bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
  <meta http-equiv="Access-Control-Allow-Origin" content="*" />
  <script src="./bower_components/angular/angular.min.js"></script>
  <script src="./bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="./bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="js/scripts/app.js"></script>
  <script type="text/javascript" src="js/controllers/mainController.js"></script>
  <script type="text/javascript" src="js/controllers/photoController.js"></script>
  <script type="text/javascript" src="js/scripts/authFactories.js"></script>  
  <script type="text/javascript" src="js/scripts/buy.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>


</head>
<body ng-app="imagXchange" ng-controller="MainController as mainCtrl">
  <nav class="navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" ui-sref="home">imagXchange</a>
      </div>
      <ul class="nav navbar-nav navbar-left">
        <li ng-if="!mainCtrl.loggedIn"><a ui-sref="contact">Contact</a></li>
        <li ng-if="mainCtrl.loggedIn"><a ui-sref="profile">Profile</a></li>
        <li ng-if="mainCtrl.loggedIn"><a ui-sref="gallery">Gallery</a></li>
        <li ng-if="mainCtrl.loggedIn"><a ui-sref="photo">Photo</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="mainCtrl.loggedIn"><a>Hi {{mainCtrl.user.username}}</a></li>
        <li ng-if="!mainCtrl.loggedIn"><a ui-sref="login">Login</a></li>
        <li ng-if="!mainCtrl.loggedIn"><a ui-sref="signup">Sign up</a></li>
        <li ng-if="mainCtrl.loggedIn"><a ng-click="mainCtrl.logout()">Log out</a></li>  
      </ul>
    </div>
  </nav>

<div ui-view ng-controller="PhotosController as photoCtrl"></div>



</body>
</html>   


 
    