<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>imagXchange</title>
  <link rel="stylesheet" type="text/css" href="./bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="./client/css/style.css">
  <script src="./bower_components/angular/angular.min.js"></script>
  <script src="./bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="./bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="./bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="./bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="js/scripts/app.js"></script>
  <script type="text/javascript" src="js/controllers/mainController.js"></script>
  <script type="text/javascript" src="js/scripts/authFactories.js"></script>
  <script type="text/javascript" src="js/scripts/buy.js"></script>  
</head>
<body ng-app="imagXchange">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" ui-sref="home">imagXchange</a>
      </div>
      <ul class="nav navbar-nav navbar-left">
        <li ng-if="!mainCtrl.loggedIn"><a class="btn btn-default" ui-sref="home" role="button">Home</a></li>
        <li ng-if="!mainCtrl.loggedIn"><a class="btn btn-default" ui-sref="contact" role="button">Contact</a></li>
        <li ng-if="mainCtrl.loggedIn"><a class="btn btn-default" ui-sref="gallery" role="button">Profile</a></li>
        <li ng-if="mainCtrl.loggedIn"><a class="btn btn-default" ui-sref="gallery" role="button">Gallery</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="mainCtrl.loggedIn"><a>Hi {{mainCtrl.user.username}}</a></li>
        <li ng-if="!mainCtrl.loggedIn"><a ui-sref="login">Login</a></li>
        <li ng-if="!mainCtrl.loggedIn"><a ui-sref="signup">Sign up</a></li>
        <li ng-if="mainCtrl.loggedIn"><a ng-click="userCtrl.logout()">Log out</a></li>  
      </ul>
    </div>
  </nav>
  
  <div class="container"> 
      
      <div class="container">   
        <!-- rendering the views inside a div -->
        <div class="container">
          <div ui-view></div>
        </div>
          
      </div>

  </div>
<!-- footer here -->
<footer>
  <hr>
</footer>
</body>
</html>   


 
    