<div class="container">
	<h1>imagXchange Gallery</h1>
</div>


<div class="container">
	<ul ng-repeat="photo in photoCtrl.all">

		<li>Title: {{photo.title}}</li>
		<li>Caption: {{photo.caption}}</li>
		<li>Subject: {{photo.subject}}</li>
		<li>Location: {{photo.location}}</li>
		<li>Date take: {{photo.datetaken}}</li>
		<li>Current price: {{photo.price}}</li>
		<li>Photo id: {{photo._id}}</li>
		<li>Photo: <img src="{{photo.url}}" /></li>

		<button class='view' ui-sref="photos" ng-click="photoCtrl.showPhotos(photo._id)">View</button>
		<button class='delete' ng-click="photos.deletePhoto(photo._id)">Delete</button>

	</ul>
	<br>
</div>