<div class="container">
	<h1>imagXchange Gallery</h1>
</div>


<body ng-controller="PhotoController as photoCtrl">
<main>
	<section class="Gallery">
		<ul id="photos">
			<li ng-repeat="photo in photoCtrl.photos">
				<strong>Test{{photo}}</strong>
				{{2+2}}
				<!-- <em>{{photo.caption}}</em>
				<em>{{photo.subject}}</em>
				<em>{{photo.location}}</em>
				<em>{{photo.datetaken}}</em> -->
				
			</li>

		</ul>
		<button class='view' ng-click="photos.viewPhoto(photo)">View</button>
				<button class='delete' ng-click="photos.deletePhoto(photo)">Delete</button>
	</section>
</main>

