<div class="container">
	<h1>imagXchange Photo</h1>
	<main>
		<section class="photo">
			<ul id="photo">
				<li ng-model="photo in photoCtrl" data-id="{{photo._id}}">
					{{2+2}}

					<strong>{{photo.title}}</strong>
					<em>{{photo.caption}}</em>
					<em>{{photo.subject}}</em>
					<em>{{photo.location}}</em>
					<em>{{photo.datetaken}}</em>
					<button class='view' ng-click="photos.viewPhoto(photo)">View</button>
					<button class='delete' ng-click="photos.deletePhoto(photo)">Delete</button>
				</li>
			</ul>
		</section>
	</main>
</div>
