
<div class="navbump"></div>

<section id="profile">
	<img id="logo" src="../css/assets/images/Logo.png">
	<h1>imagXchange Upload</h1>
	<div><a>Hi {{mainCtrl.user.username}}</a></div>
		<!-- Upload form on submit button click -->
	<body ng-app="imagXchange" ng-controller="UserPhotosController as photoCtrl">
		<div class="row">
			<div class="col-md-6">
  			
			<form name="uploadForm">

				<fieldset>
					<legend>Upload Photo On Form Submit</legend>
					  <div>
					    <label for="newPhoto-Title">Title:</label>
					    <input type="text" id="newPhoto-name" ng-model="photos.newPhoto.name" placeholder="Title">
					  </div>
					  <div>
					    <label for="newPhoto-Caption">Caption:</label>
					    <input type="text" id="newPhoto-caption" ng-model="photos.newPhoto.caption" placeholder="Caption">
					  </div>
					  <div>
					  	<label for="newPhoto-Subject">Subject:</label>
					    <input type="text" id="newPhoto-subject" ng-model="photos.newPhoto.subject" placeholder="Subject">
					  </div>
					  <div>
					  	<label for="newPhoto-Location">Location:</label>
					    <input type="text" id="newPhoto-location" ng-model="photos.newPhoto.location" placeholder="Location">
					  </div>
					  <div>
					  	<label for="newPhoto-DateTaken">DateTaken:</label>
					    <input type="text" id="newPhoto-datetaken" ng-model="photos.newPhoto.datetaken" placeholder="DateTaken">
					  </div>
					  <br>Photo:
					  <input type="file" ngf-select ng-model="picfile" name="file" accept="image/*" ngf-max-size="2MB" required>
					  <i ng-show="uploadForm.file.$error.required">*required</i><br>
					  <i ng-show="uploadForm.file.$error.maxSize">File too large {{picFile.size / 1000000|number:1}}MB: max 2M</i>
					  <img ng-show="uploadForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>
					  <br>
					  <button ng-disabled="!uploadForm.$valid"
					  		  ng-click="uploadPic(picFile)">Submit</button>
					  <span class="progress" ng-show="picFile.progress >= 0">
					  	<div style="width:{{picFile.progress}}%"
					  		ng-blind="picFile.progress + '%'"></div>
					  </span>
					  <span ng-show="picFile.result">Upload Successful</span>
					  <span class="err" ng-show="errorMsg">{{errorMsg}}</span>

				</fieldset>
				<br>
			</form>

		</div>

		<div class="row">
			<div class="col-md-6"></div>

			<img id="logo" src="../css/assets/images/Logo.png">

			<div class="picturePrice">
					$10
			</div>
		</div>

		<div class="row">
			<div class="col-md-12"></div>
			<h1>GRAPH</h1>
		</div>

	</body>

</section>