<section id="profile">
    <body ng-app="imagXchange" ng-controller="PhotoController as photoCtrl">
        <h1>imagXchange Profile</h1>
        <div><a>Hi {{mainCtrl.user.username}}</a></div>

        <h2>Upload Your Photo<h2>
            <form id="profileForm" ng-submit="photoCtrl.uploadPic()" id="newPhoto">
                  <div>
                    <label for="newPhoto-Title">Title:</label>
                    <input type="text" name="newPhoto-name" ng-model="photoCtrl.newPhoto.title" placeholder="Title">
                  </div>
                  <div>
                    <label for="newPhoto-Caption">Caption:</label>
                    <input type="text" name="newPhoto-caption" ng-model="photoCtrl.newPhoto.caption" placeholder="Caption">
                  </div>
                  <div>
                      <label for="newPhoto-Subject">Subject:</label>
                    <input type="text" name="newPhoto-subject" ng-model="photoCtrl.newPhoto.subject" placeholder="Subject">
                  </div>
                  <div>
                      <label for="newPhoto-Location">Location:</label>
                    <input type="text" name="newPhoto-location" ng-model="photoCtrl.newPhoto.location" placeholder="Location">
                  </div>
                  <div>
                      <label for="newPhoto-DateTaken">DateTaken:</label>
                    <input type="text" name="newPhoto-datetaken" ng-model="photoCtrl.newPhoto.datetaken" placeholder="DateTaken">
                  </div>
                  <br>Photo:
                      <input type="file" ngf-select ng-model="picfile" name="file" accept="image/*" ngf-max-size="20MB" required>
                      <i ng-show="uploadForm.file.$error.required">*required</i><br>
                      <i ng-show="uploadForm.file.$error.maxSize"></i>

                  <br>
                  <div>
                    <button type="submit" value="Add Photo">Submit</button>

                  </div>
            </form>

</section>