<section class="profile">
	<h1>imagXchange Profile</h1>
	<div><a>Hi {{mainCtrl.user.username}}</a></div>

	<h2>Upload Your Photo<h2>
	<form ng-submit="photos.addPhoto()" id="newPhoto">
	  <div>
	    <label for="newPhoto-Title">Title:</label>
	    <input type="text" id="newPhoto-name" ng-model="photos.newPhoto.name" placeholder="Title">
	  </div>
	  <div>
	    <label for="newPhoto-Caption">Caption:</label>
	    <input type="text" id="newPhoto-caption" ng-model="photos.newPhoto.caption" placeholder="Caption">
	  </div>
	  <div>
	  	<label for="newPhoto-Subject">Subject:</label>
	    <input type="text" id="newPhoto-subject" ng-model="photos.newPhoto.subject" placeholder="Subject">
	  </div>
	  <div>
	  	<label for="newPhoto-Location">Location:</label>
	    <input type="text" id="newPhoto-location" ng-model="photos.newPhoto.location" placeholder="Location">
	  </div>
	  <div>
	  	<label for="newPhoto-DateTaken">DateTaken:</label>
	    <input type="text" id="newPhoto-datetaken" ng-model="photos.newPhoto.datetaken" placeholder="DateTaken">
	  </div>
	  <div>
	    <input type="submit" value="Add Photo">
	  </div>
	</form>

</section>